@import "~dom-casts-css-kit/old-tv";

* {
    box-sizing: border-box;
}

.html {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-image: url('../assets/wallpaper.jpg');
}

.root {
    position: relative;
}

@include apply-old-tv-effect('root')