@import './z-index';

.level {
    display: flex;
    flex-wrap: wrap;
    background: url("../../assets/game.jpg");
    width: 650px;
    height: 650px;
}

.block {
    width: 50px;
    height: 50px;
    z-index: $zindex-300;    
}

.OuterWall {
    background: url("../../assets/outer-wall.jpg");
}

.HardWall {
    background: url("../../assets/hard-wall.jpg");
}

.SoftWall {
    background: url("../../assets/soft-wall.png");
}

.bomb {
    position: absolute;
    background: url("../../assets/bomb.png");
}

.hard-wall-1 {
    .HardWall {
        background-position-x: 0;
    }
}

.hard-wall-2 {
    .HardWall {
        background-position-x: -50px;
    }
}

.hard-wall-3 {
    .HardWall {
        background-position-x: -100px;
    }
}

.hard-wall-4 {
    .HardWall {
        background-position-x: -150px;
    }
}

.hard-wall-5 {
    .HardWall {
        background-position-x: -200px;
    }
}

.hard-wall-6 {
    .HardWall {
        background-position-x: -250px;
    }
}